
@font-face {
  font-family: 'Pastel Crayon';
  src: url('assets/fonts/pastel_crayon.ttf');
}

@font-face {
  font-family: 'Officina Sans Bold';
  src: url('assets/fonts/itc-officina-sans-lt-bold.ttf');
}

@font-face {
  font-family: 'Officina Sans Book';
  src: url('assets/fonts/itc-officina-sans-lt-book.ttf');
}