.sect1 {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('assets/images/ireland.jpg');
    background-size: cover;
    background-position: right;

    .jobTitle {
        @include horizontalCenter();
        @include fadeIn(0.5s, 0.5s);
        top: 40%;
        font-family: Officina Sans Bold;
        font-size: 25px;
        color: white;
    }

    .socialIconContainer {
        width: 20%;
        min-width: 275px;
        text-align: center;
        @include verticalCenter();
        @include horizontalCenter();

        .social-icon {
            margin-left: 5%;
            margin-right: 5%;

            &.github {
                left: 30%;
                @include fadeIn(1.0s, 0.5s);
            }

            &.github-description {
                left: 26.5%;
                margin-top: 30%;
                font-family: 'Pastel Crayon', serif;
                font-size: 26px;
                color: $pureWhite;
            }

            &.linkedin {
                left: 48%;
                @include fadeIn(1.25s, 0.5s);
            }

            &.linkedin-description {
                left: 43.5%;
                margin-top: 30%;
                font-family: 'Pastel Crayon', serif;
                font-size: 26px;
                color: $pureWhite;
            }

            &.twitter {
                left: 67%;
                @include fadeIn(1.5s, 0.5s);
            }

            &.twitter-description {
                left: 63%;
                margin-top: 30%;
                font-family: 'Pastel Crayon', serif;
                font-size: 26px;
                color: $pureWhite;
            }
        }
    }

    a {
        text-decoration: none;
    }
}