.sect2 {
    @include fullScreen();
    background-color: white;
    position: absolute;
    top: 10px;
    text-align: center;

    // Zig-zag border
    &:before {
        background:
            linear-gradient(
                45deg, transparent 33.333%,
                #FFF 33.333%, #FFF 66.667%,
                transparent 66.667%
            ),
            linear-gradient(
                -45deg, transparent 33.333%,
                #FFF 33.333%, #FFF 66.667%,
                transparent 66.667%
            );
        background-size: 20px 40px;
    }

    &.zigzag {
        position: relative;
        width: 100%;

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: -10px;
            width: 100%;
            height: 10px;
        }
    }

    // Let the user know that there is content below the fold
    &.pageLoaded {
        @include transition(top 0.5s);
        top: -25px;
    }

    .amazon-music-logo-wrapper {
        @include verticalCenter();
        @include horizontalCenter();
    }

    .equalizer {
        position: absolute;
        right: 68px;
        top: 7px;
    }

    .amazon-logo {
        margin-top: 70px;
    }

    .music-logo {
        font-family: Officina Sans Book;
        font-size: 83px;
        margin-bottom: 61px;
    }

    .amazon-description {
        @include verticalCenter();
        color: $steelyGrey;
        top: 25%;
        margin-left: 30%;
        margin-right: 30%;
        font-family: Officina Sans Bold;
        font-size: 30px;

        .inline-amazon-logo {
            @include transform(translateY(18.5px));
            width: 95px;
        }
    }
}

@include respondTo(handhelds) {
    .sect2 {
        top: 25px;

        &.pageLoaded {
            top: -150px;
        }

        &:before {
            background-size: 50px 100px;
        }

        &.zigzag:before {
            top: -25px;
            height: 30px;
        }

        .amazon-music-logo-wrapper {
            width: 100%;

            .equalizer {
                right: 29%;
            }
        }

        .amazon-description {
            font-size: 60px;
            margin-left: 15%;
            margin-right: 15%;

            .inline-amazon-logo {
                @include transform(translateY(35px));
                width: 180px;
            }
        }
    }
}