.sect1Background {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('assets/images/ireland.jpg');
    background-size: cover;
    background-position: right;
}

.sect1 {
    height: 100%;
    width: 100%;

    .nameTitleContainer {
        @include horizontalCenter();
        width: 100%;
        height: 500px;
        text-align: center;
        top: 20%;

        .mugshot {
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.2);
            border-radius: 50%;
            width: 125px;
            opacity: 0.9;
            @include fadeIn(0.8s, 0.5s);
        }

        .fullName {
            @include fadeIn(0.3s, 0.5s);
            font-size: 35px;
            font-family: 'Special Elite', cursive;
            color: white;
        }

        .jobTitle {
            @include fadeIn(0.5s, 0.5s);
            font-size: 25px;
            font-family: 'Special Elite', cursive;
            color: white;
        }

        .socialIconContainer {
            display: inline-block;
            width: 20%;
            min-width: 275px;
            text-align: center;

            .social-icon {
                margin-left: 5%;
                margin-right: 5%;

                &.github {
                    left: 30%;
                    @include fadeIn(1.0s, 0.5s);
                }

                &.linkedin {
                    left: 48%;
                    @include fadeIn(1.25s, 0.5s);
                }

                &.twitter {
                    left: 67%;
                    @include fadeIn(1.5s, 0.5s);
                }
            }
        }
    }

    a {
        text-decoration: none;
    }
}

@include respondTo(handhelds) {
    .sect1 {
        .fullName {
            top: 10%;
            font-size: 95px;
        }

        .jobTitle {
            top: 20%;
            font-size: 75px;
        }

        .socialIconContainer {
            top: 50%;
            width: 60%;

            .social-icon {
                width: 75px;
                margin-left: 10%;
                margin-right: 10%;
            }
        }
    }
}