.sect2 {
    @include fullScreen();
    background-color: white;
    position: absolute;
    text-align: center;

    .amazon-music-logo-wrapper {
        @include verticalCenter();
        @include horizontalCenter();
    }

    .equalizer {
        position: absolute;
        right: 68px;
        top: 7px;
    }

    .amazon-logo {
        margin-top: 70px;
    }

    .music-logo {
        font-family: Officina Sans Book;
        font-size: 83px;
        margin-bottom: 61px;
    }

    .inline-amazon-logo {
        @include transform(translateY(18.5px));
        width: 95px;
    }

    .amazon-description {
        @include verticalCenter();
        color: $steelyGrey;
        top: 25%;
        margin-left: 30%;
        margin-right: 30%;
        font-family: Officina Sans Bold;
        font-size: 30px;
    }
}