// The height used for each of the main sections of the website
$sectionHeight: 95%;

// Defines the CSS breakpoints
$handheldBreakpoint: 480px;
$wideHandheldBreakpoint: 768px;
$tabletBreakpoint: 960px;